<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <!-- Name Generation -->
        <add key="minimumNameLength" value="3" />

        <!-- Midpoint displacement -->
        <add key="startingSpread" value="0.5" />
        <add key="spreadReduction" value="0.55" />
        <add key="landCornerInitValue" value="0.7" />
        <add key="seaCornerInitValue" value="0.2" />

        <!-- Value Noise -->
        <add key="dimming" value="0.25" />
        <add key="minLight" value="0.05" />
        <add key="lightBoost" value="1.2" />
        <add key="zoomLevel" value="156.0" />


        <!-- Sketch -->
        <add key="brushTreshholdLevel" value="0.45" />
        
    </appSettings>
</configuration>