<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <!-- Name Generation -->
        <add key="minimumNameLength" value="3" />

        <!-- Midpoint displacement -->
        <add key="startingSpread" value="0.58" />
        <add key="spreadReduction" value="0.55" />
        <add key="landCornerInitValue" value="0.615" />
        <add key="seaCornerInitValue" value="0.15" />

        <!-- Value Noise -->
        <add key="dimming" value="0.45" />
        <add key="minLight" value="0.05" />
        <add key="lightBoost" value="1.0" />
        <add key="zoomLevel" value="100.0" />

        <!-- Terraform -->
        <add key="absorptionFactor" value="0.05" />
        <add key="erosionFactor" value="0.03" />
        <add key="minimumErodedLandHeight" value="0.326" />
        <add key="numberRunOffSteps" value="15" />
    </appSettings>
</configuration>